<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>SpringShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/style/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{style/style.css}" />
    <script th:src="@{/style/js/bootstrap.min.js}" ></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid" th:fragment="header">
    <div class="container">
        <h1><a href="#" class="title-link">SpringShop</a></h1>
        <p>by <a href="http://czarneta.me" class="title-link" target="_blank">czarneta.me</a></p>
    </div>
</div>
</body>
</html>